<div class="div_form">
  <h2>Cadastre suas bandas e músicas favoritas</h2>
  <form action="/insertbanda" method="post">
    <div>
      <label for="nameband">Banda:
        <input type="text" name="nameband" placeholder="Nome" required />
      </label>
    </div>
    <div>
      <label for="musicband">Música:
        <input type="text" name="musicband" placeholder="Música" required />
      </label>
    </div>
    <div>
      <label for="styleband">Estilo:
        <select name="styleband" required>
          <option value="" disabled selected>Selecione</option>
          <option value="rock">Rock</option>
          <option value="sertanejo">Sertanejo</option>
          <option value="funk">Funk</option>
          <option value="blues">Blues</option>
          <option value="pagodeSamba">Pagode/Samba</option>
          <option value="mpb">MPB</option>
          <option value="outros">Outros</option>
        </select>
      </label>
    </div>
    <div class="div_submit">
      <input type="submit" value="Cadastrar" class="input_submit" />
    </div>
  </form>
</div>