html,
body {
  background-color: aliceblue;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.navbar_header {
  background-color: black;
  user-select: none;
  width: 100%;
}
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-align: center;
}
.navbar a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.navbar a:hover {
  color: gold;
  transition: 0.6s;
}
div {
  margin-bottom: 0.8rem;
}
.div_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  font-size: 14px;
  font-weight: 500;
  margin-right: 2rem;
}
input,
select {
  border: 1px solid gray;
  border-radius: 4px;
  width: 250px;
}

.div_submit {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input_submit {
  width: 150px;
}

.favorite {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
  max-width: 1000px;
}

.music_band {
  align-items: center;
  background-color: black;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  padding: 5px;
  min-width: 260px;
}

.band_style {
  align-items: center;
  background-color: green;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  padding: 5px;
  width: 110px;
}
.band_edit {
  align-items: center;
  background-color: rgb(0, 110, 184);
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
  width: 50px;
}
.form {
  margin: 0;
  padding: 0;
}
.input_remove {
  align-items: center;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bold;
  height: 30px;
  text-align: center;
  width: 30px;
}